$base-font: 'Open Sans', 'Helvetica', 'sans-serif';
$header-font: 'Montserrat', 'sans-serif';

$base-size: 16px;
$base-height: 1.4;

$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   500;
$font-weight-bolder: 700;
