// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner {
  background-size: cover;
  min-height: 700px;
}

.padded {
  padding: 2em;
}
.marged-top {
  margin-top : 8em;
}

.min-marged-top {
  margin-top: 2em;
}
.emperor {
  margin-bottom: 22px;
  padding-bottom: 11px;
}

.min-height-caroussel {
  min-height: 280px;
}
