<div class="banner">
  <div class="container marged-top">
    <div class="panel panel-default marged">
      <div class="panel-body">
        <div class="container-fluid">
         <%= render 'products'%>
        </div>
      </div>
    </div>
  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>
  </div>
</div>

